<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

    <div class="container-fluid">
        <h1>Book Finder</h1>
        <div class="container">
            Book Search & List 
        </div>
    </div>
</body>
</html>
